################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Btl_Ltw_De17_khaoSatTrucTuyen/Btl_Ltw_De17_khaoSatTrucTuyen.csproj
